/*clip-path: polygon(0 11%, 0 100%, 99% 100%, 100% 0, 89% 13%, 50% 100%, 100% 11%);*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Fraunces', serif;
    font-size: 18px;
}

header {
    background-image: url('images/mobile/image-header.jpg');
    height: 90vh;
    background-position: center bottom;
    background-size: cover;
}

#menu {
    display: flex;
    justify-content: space-between;
}

#logo-sunny {
    padding: 32px 28px;
}

#icon-burguer {
    font-size: 38px;
    font-weight: normal;
    color: white;
    padding: 26px 28px;
}

header h1 {
    font-weight: 900;
    letter-spacing: 12px;
    text-align: center;
    color: white;
    margin-top: 70px;
}

#seta {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 70px;
}

section {
    background-image: url(images/mobile/image-transform.jpg);
    height: 50vh;
    background-position: center center;
    background-size: cover;
}